body
{
    /*background-color:#efefef;*/
    background-color: #ffffff;
}
.item
{
    padding: 10px;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px; /*background-color:#E0ECF1;*/
}
h3
{
    margin-left: 5px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}
.itemhead
{
    height: 20px;
}
span
{
    font-size: 14px;
}
.td_span
{
    margin-left: 10px;
    font-family: Arial;
}
.td_title
{
    width: 150px;
    height: 20px;
    font-family: Arial;
}
.shabi
{
    width: 150px;
    height: 20px;
    font-family: Arial; 
    font-weight: 600;
}


.td_title2
{
    width: 190px;
    height: 20px;
    font-family: Arial;
}
.td_title_receive_setting
{
    width: 180px;
    height: 20px;
    font-family: Arial;
}
.td_titleWindow
{
    width: 130px;
    height: 30px;
    font-size: 14px;
    font-family: Arial;
}
.td_titleWindow2
{
    width: 130px;
    height: 30px;
    font-size: 14px;
    font-family: Arial;
}
.td_titleWindow3
{
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-family: Arial;
}
.td_titleWindow_server
{
    width: 140px;
    height: 30px;
    font-size: 14px;
    font-family: Arial;
}
.td_titleWindow_client
{
    width: 140px;
    height: 30px;
    font-size: 14px;
    font-family: Arial;
}
.td_title_head
{
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}
.td_head
{
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    font-family: Arial;
}
.td_headContent
{
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    font-family: Arial;
}
.td_nullheight
{
    height: 10px;
}
.fontStyle
{
    font-family: Arial;
}
.ifile
{
    position: absolute;
    opacity: 1;
    filter: alpha(opacity=0);
}


.blue_btn
{

    background-color: #3eafe0;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 4px;
    text-decoration: none;	
	
}
div.sure_btn
{
	margin-left:180px;
	}
	
.lap_height
{
	margin:5px;
	}
	
.lab_inner
{
 padding:5px;
	}
	
label.lap_left
{
	margin-left:15px;
	}
	
fieldset
{
	border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  height: 152px;
	}

legend
{
	font-size:18px;
	font-weight:bold;
	padding:5px;
	}

.lap_put
{
	padding-bottom:10px;
	}
